<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="false"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>

	<system.serviceModel>
		<services>
			<service name="AlitaliaSmtp.Service.ServiceSmtp" behaviorConfiguration="ServiceBehaviour">
				<endpoint address="localhost" binding="wsHttpBinding" bindingConfiguration="BasicBinding" contract="AlitaliaSmtp.Service.IServiceSmtp"/>
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" name="mex" />
			</service>
			
		</services>

		<bindings>
			<wsHttpBinding>
				<binding name="BasicBinding">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="AlitaliaSmtp.Service.Authenticator, App_Code" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<protocolMapping>
			<add scheme="http" binding="basicHttpBinding"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
			Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
			Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
		-->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>